html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 50%;
}

.dark{
    background: #1c1b18;
}

.feature_line{
    min-height: 5px;
    background-color: #ff7607;
}

.logo{
    min-height: 40px;
}

.brand-logo{
    padding: 9px !important;
}

#search {
    margin: 0px;
}

.nav-wrapper {
    padding-left: 15px;
}

.hole_visual {
    height: 50px;
    padding: 0;
	text-align: center;
}
.hole_visual:after {
	
}
.hole_after {
	content: "";
	bottom: -100px;
	height: 100px;
	width: 75px;
	background: url('../img/drill.gif');
	display: block;
}

.segment{
    width: 100%;
    height: 50px;
}

.soil {
	background-color: #d9d0bc;	
}

.A1 {
	background-color: #e1e1e1;
}
.A2 {
	background-color: #d6d6d6;
}
.A3 {
	background-color: #cdcdcd;
}
.A4 {
	background-color: #b8b8b8;
}
.coal {
	background-color: #404040 !important;
	content: "Coal!";
}
#vis {
	overflow: hidden;
}

.hole_id{
    font-size: 34px;
}








