  <!DOCTYPE html>
  <html ng-app="borealysisApp">
    <head>
    <title>Test</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.1.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <link type="text/css" rel="stylesheet" href="css/main.css"  media="screen,projection"/>

      <link type="text/css" rel="stylesheet" href="css/segments.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>

    <body ng-controller="borealysisController as ba">
<!-- <body> -->
  <!-- <div class="feature_line"></div> -->

  <nav class="dark">
    <div class="nav-wrapper">
      <a href="#" class="hide-on-med-and-down">Borealysis</a>
      <form class="right" ng-submit="ba.borehole_search()">
        <div class="input-field">
          <input id="search" type="search" ng-model="ba.search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
       

    <div id="map"></div>
    <script>
      var map;
      function initMap() {
        var myLatLng = {lat: -25.363, lng: 131.044};
        var gc = {lat: -28.0172600, lng: 153.4256990};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Some mine!'
  });

  var otherMarker = new google.maps.Marker({
    position: gc,
    map: map,
    title: 'Commonwealth Games'
  });

  otherMarker.addListener('click', function() {
    map.setZoom(8);
    map.setCenter(marker.getPosition());
    var h = 100;
    var foo = setInterval(function () {
      if (h>2000) {
        clearInterval(foo); 
   }
   h = h + 20;
   document.getElementById('vis').style.height = h + 'px';
    }, 100);
  });
      }
    </script>

<nav>
    <div class="nav-wrapper dark">
<form class="" ng-submit="ba.borehole_search()">
        <div class="input-field">
          <input id="search" type="search" ng-model="ba.search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>


    <div class="row">
      <div class="col s3 m3">
        Bore ID/Name: {{}}
      </div>
      <div class="col s6 m6">
        Machine Learning web service: {{}}
      </div>
    </div>

    <div class="row">
    <div class="col s12 m3">
        <div class="card-panel grey hole_visual">
          <div class="black-text black hole_id">
              Hole ID: {{ba.current["bore_id"]}}
          </div>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="card-panel grey hole_visual" id="vis">
          <div class="segment">Real Time Analysis</div>
          <div class="white-text soil segment"></div>
          <div class="white-text soil segment"></div>
          <div class="white-text A1 segment"></div>
          <div class="white-text A2 segment"></div>
          <div class="white-text A3 segment"></div>
          <div class="white-text A3 segment"></div>
          <div class="white-text coal segment"></div>
          <div class="white-text coal segment"></div>
        </div>
      </div>
    <div>

    <div class="col s12 m6">
      <div class="card-panel grey">
        <span class="white-text">
              Total Coal found in bore: {{}} % <br>
              Segmentation Count: {{ba.current["segment_count"]}}
        </span>
      </div>
      <div class="row">
      <div class="card-panel grey">
        <span class="white-text">
              Confidence: {{}}80%
        </span>
      </div>
    </div>
          <div class="row">
      <div class="card-panel grey">
        <span class="white-text">
              <b>Segment Overview:</b><br>
                 <div ng-repeat="seg in ba.current.segment">
                    Type: {{seg.type}}<br>
                    Range: {{seg.range.start}} - {{seg.range.end}}m
                      <div class="divider"></div>
                </div>


        </span>
      </div>
    </div>
    <div class="row">
      <div class="white">
        <span class="black-text">
<b>Log:</b>
<p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</p>
          </span>
        </div>
      </div>

    </div>


</div>
    </div>

    <footer class="page-footer white">
          <div class="footer-copyright">
            <div class="container black-text text-darken-4">
            &copy; 2016 Borealysis Team Unearthed
            <a class="black-text text-darken-4 right" href="https://github.com/hax0rs/Borealysis">GitHub</a>
            </div>
          </div>
        </footer>


      <!--Import jQuery before materialize.js-->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAYK4q0_H1gmruure62HMX1mbkgzcfofnc&callback=initMap"
    async defer></script>

      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>
